/* nav-arrows.css */
.nav-arrow {
  width: 8vw;
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 1000;
  transition: transform 0.2s ease, filter 0.2s ease;
  }
  
  .nav-arrow img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Blue next arrow */
  .nav-next {
    right: 2vw;
    bottom: 4vw;
  }
  
  /* Orange return arrow */
  .nav-return {
    right: 2vw;
    bottom: 1vw;
  }
  
  
  /* Hover animation */
  .nav-arrow:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
  }